<button class="create" routerLink="/create">Create Asset</button>


<div *ngIf="CurrentAssets == null || CurrentAssets.length == 0">No assets</div>
<div *ngIf="CurrentAssets != null && CurrentAssets.length > 0">
    <table>
        <thead>
            <th>Asset Tag ID</th>
            <th>Asset Type</th>
            <th>Asset Description</th>
            <th>Assigned To ID</th>
            <th>Date Added</th>
            <th>Retired?</th>
            <th>Date Retired</th>
        </thead>
        <tr *ngFor="let asset of CurrentAssets">
            <td><a routerLink="/details/{{asset.assetTagId}}" >{{asset.assetTagId}}</a></td>
            <td>{{asset.assetType}}</td>
            <td>{{asset.description}}</td>
            <td><a routerLink="/employee/{{asset.assignedTo}}">{{asset.assignedTo}}</a></td>
            <td>{{asset.dateAdded | date:"MM/dd/yyyy"}}</td>
            <td>{{asset.retired | yes_no }}</td>
            <td>{{asset.dateRetired | date:"MM/dd/yyyy"}}</td>
        </tr>
    </table>
</div>

