<button class="create" routerLink="/edit/-1">Create Asset</button>


<div *ngIf="CurrentAssets == null || CurrentAssets.length == 0">No assets</div>
<div *ngIf="CurrentAssets != null && CurrentAssets.length > 0">
    <div>Filter: <input [(ngModel)]="Filter"/></div>
    <table matSort (matSortChange)="sortData($event)">
        <tr>
            <th mat-sort-header="id">Asset Tag ID</th>
            <th mat-sort-header="type">Asset Type</th>
            <th mat-sort-header="description">Asset Description</th>
            <th mat-sort-header="assigned">Assigned To ID</th>
            <th mat-sort-header="added">Date Added</th>
            <th mat-sort-header="retired">Retired?</th>
            <th mat-sort-header="retiredDate">Date Retired</th>
        </tr>
        <ng-container *ngFor="let asset of CurrentAssets">
            <tr *ngIf="!IsAssetFilteredOut(asset)">
                <td><a routerLink="/details/{{asset.assetTagId}}" >{{asset.assetTagId}}</a></td>
                <td>{{asset.assetType}}</td>
                <td>{{asset.description}}</td>
                <td><a routerLink="/employee/{{asset.assignedTo}}">{{asset.assignedTo}}</a></td>
                <td>{{asset.dateAdded | date:"MM/dd/yyyy"}}</td>
                <td>{{asset.retired | yes_no }}</td>
                <td>{{asset.dateRetired | date:"MM/dd/yyyy"}}</td>
            </tr>
        </ng-container>
    </table>
</div>

